<h1>Editing Kudo</h1>
<%if @kudo.giver == current_employee%>
    <%= render 'form', kudo: @kudo %>
<%else%>
    <%= "You can't edit this Kudo and you shouldn't even be here!"%>
<%end%>
</br></br>
<%= link_to 'Show', @kudo %> |
<%= link_to 'Back to the list', kudos_path %>
